{% extends 'base.html' %}
{% load static %}

{% block content %}

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CSV to Parquet </div>
            </a>

            <hr class="sidebar-divider my-0">

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Luis Vargas</span>
                               
                            </a>
                        </li>

                    </ul>

                </nav>

                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Upload</h1>
                        
                    </div>

                    <div class="row">

                        <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="input-group">
                            <input type="file" class="form-control bg-light border-0 small" placeholder="insert document" name="document">
                                <button class="btn btn-primary" type="button" type="submit">
                                    <i class="fas fa-search fa-sm"></i> upload file
                                </button>
                        </div>
                    </form> -->

                    <!-- Uploaded file -->
                    <form method="post" enctype="multipart/form-data" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
                        {% csrf_token %}
                        <!-- <input type="file" name="document" placeholder="insert document"> -->
                        {{ form }}
                        <button type="submit" class="btn btn-primary">Upload file</button>
                      </form>
                      
                        <!-- <div class="d-sm-flex align-items-center justify-content-between mb-12">
                            <a href="upload/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Start </a>
                        </div> -->

                    </div>
                    <div class="row">
                        {% if url %}
                        <a href="{{ url }}" class="btn btn-primary btn-small">Download Parquet file</a></p>
                        {% endif %}
                    </div>

                </div>

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Luis Vargas for NarrativeWave</span>
                    </div>
                </div>
            </footer>

        </div>


    </div>

    </div>


</body>


{% endblock content %}